*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
}

ul, ol{
    list-style:none;
}

a{
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    max-width: 100%;
}

/* ==== Header ==== */

header{
    background-color: royalblue;
    padding: 1rem;
    color:white;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 1rem;
}
.nav-menu a{
    color: #fff;
}
.nav-menu li:last-child{
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

/* ==== Body ==== */

.main{ 
    padding: 100px;
}

.logo-mundial{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    
}

.logo-mundial img{
    display: flex;
    height: 485px;
    width: 862px;
    
    
}

.noticias-index{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.noticias-index h2{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
}

.tres-noticias-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.tres-noticias-index img{
    height: 200px;
    width: 300px;
}

.clasificacion h2{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 15px;
}

.clasificacion p{
    padding: 5px;
}

.lista-clasificacion{
    display: flex;
    flex-direction: row;
}

.lista-clasificacion ul li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 75%;
}

.lista-clasificacion img{
    width: 500px;
    height: 350px;
}

.formato h2{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 15px;
}

.formato p{
    padding: 20px;
}

.mapa-argentina{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    border: black 2px solid;
}

.mapa-argentina p{
    padding: 20px;
}

/* ==== Grupos ==== */

body{
    width: 100%;
}

.caja-grupos{
    display: flex;
    padding: 100px;
    flex-direction: column;
}

.caja-grupos hr{
    margin: 0px 20px 20px 0px;
    
}

.caja-grupos p{
    margin-bottom: 20px;
}

.caja-grupo-a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-a img{
    margin: 0 5px;
}

.caja-grupo-b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-b img{
    margin: 0 5px
}

.caja-grupo-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-c img{
    margin: 0 5px;
}

.caja-grupo-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-d img{
    margin: 0 5px;
}

.caja-grupo-e{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-e img{
    margin: 0 5px;
}

.caja-grupo-f{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.caja-grupo-f img{
    margin: 0 5px;
}

.linea-grupos{
    display: flex;
    padding: 2px;
    width: 40%;
    background-color: black;
}

/* ==== Noticias ==== */

.noticias{
    display: flex;
    padding: 100px;
    flex-direction: column;
}

.noticias h2{
    margin: 0 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-align: center;
}

.capitannigeria{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 50% 400px;
    justify-content: center;
}

.capitannigeria img{ 
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-bottom: 50px;
}

.capitannigeria p{
    display: flex;
    align-items: end;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo-noticias-destacadas{
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.noticias-destacadas{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: repeat(2, 1fr);
    border: black 2px solid;
    padding: 10px;
    
}

.noticias-destacadas img{
    margin-left: 10%;
}

.noticias-destacadas h3{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.noticias-destacadas p{
    display: flex;
    flex-direction: row;
    text-align:center;
    
}

.images-seccion-noticias{
    height: 200px;
    max-width: 300px;
}

/* ==== Sedes ==== */

.sedes{
    display: flex;
    padding: 100px;
    flex-direction: column;
    

}

.sedes img{
    max-width: 600px;
    margin-left: 100px;
}

.sedes p{
    margin: 20px;
}

.sedes hr{
    margin: 15px
    
}

.ubicacion-estadios{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

/* ==== Historia ==== */

.historia{
    display: flex;
    padding: 100px;
    flex-direction: column;
}

.historia hr{
    margin-bottom: 20px;
}

.primeros-mundiales{
    display: grid;
    padding: 20px 0px 20px 0px;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;

}

.primeros-mundiales img{
    width: 500px;
    height: 300px;
    margin: 10px;
}

.primeros-mundiales p{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black 2px solid;
    background-color: skyblue;
}

.palmares{
    max-height: 1300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

tabla, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    padding: 10px;
    text-align: center;
    
}

hr{
    padding: 1px;
    background-color: black;
}

.imagen-uno{
    margin-top: 50px;
    height: 400px;
    grid-column: 1/3;
    grid-row: 1/3;

}

.imagen-dos{
    height: 400px;
    grid-column: 4/6;
    grid-row: 2/3;
}

.imagen-tres{
    height: 400px;
    grid-column: 1/3;
    grid-row: 3/5;
}

.tabla{
    margin: 50px 20px 0px 20px;
    grid-column: 3/4;
    grid-row: 1/5;
}

/* ==== Footer ==== */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width:375px) and (max-width:420px){

    header{
        width: 420px;
    }

    header h1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 360px;
        height: 30px;
        font-size:x-large;
    }
    
    /* ==== NavBar ==== */

    .checkbtn{
        display: block;
    }

    .menu-icon{
        display: block;
        top: 20px;
        right: 760px;
        cursor: pointer;
    }

    .nav-menu ul{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 60px;
        left: -100%;
        background: #222;
        width: 420px;
        height: 350px;
        right: 0;
    }

    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: end;
        margin: 0;
    }

    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    
    /* ==== Noticias ==== */
    
    .noticias h2{
        font-size: x-large;
    }

    .capitannigeria{
        display: grid;
        grid-template-columns: 420px;
        grid-template-rows: 300px 150px;
    }

    .capitannigeria img{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: -3/-2;
    }

    .capitannigeria p{
        display: flex;
        flex-direction: row;
        align-items: start;
        font-size: small;
        text-align: center;
        color:black;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .noticias-destacadas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticias-destacadas img{
        width: 200px;
        margin: 0px;
    }

    .article-cuatro{
        display: none;
    }

    .article-cinco{
        display: none;
    }

    .article-seis{
        display: none;
    }

}

    footer{
        width: 420px;
    }
