* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  max-width: 100%;
}

h2 {
  font-family: Copperplate, Papyrus, fantasy;
}

.img-background {
  background-image: url("../images/fondo.jpg");
  resize: both;
  overflow: auto;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.containero {
  max-width: 1920px;
  margin: 0 auto;
}

.footer {
  background-color: black;
  color: #fff;
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* ==== MOBILE FIRST ==== */
.nav-grupos {
  display: flex;
}
.nav-grupos .button-grupo {
  background-color: #222;
  color: white;
  font-size: x-large;
  align-items: center;
  height: 70px;
  width: 70px;
}

.caja-paises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caja-paises .pais {
  width: 360px;
  padding: 10px 0px 10px 0px;
}
.caja-paises .pais div {
  display: flex;
  align-items: center;
  width: 100%;
}
.caja-paises .pais div img {
  width: 190px;
  height: 135px;
}
.caja-paises .pais div h3 {
  justify-self: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  width: 100%;
  text-decoration: none;
}

/* ==== TABLET ==== */
@media (min-width: 768px) {
  .nav-grupos {
    display: flex;
  }
  .nav-grupos .button-grupo {
    background-color: #222;
    color: white;
    font-size: x-large;
    align-items: center;
    height: 70px;
    width: 128px;
  }
  .caja-grupos h2 {
    font-family: Copperplate, Papyrus, fantasy;
  }
}
/* ==== DESKTOP ====*/
@media (min-width: 1024px) {
  main {
    padding-top: 100px;
  }
  .nav-grupos {
    display: none;
  }
  .caja-grupos h2 {
    font-family: Copperplate, Papyrus, fantasy;
  }
}
/* ==== MOBILE ==== */
header {
  background-color: royalblue;
  color: #fff;
  padding: 5px;
}
header h1 {
  font-size: 1rem;
}
header nav .navbar-toggler {
  border: none;
}
header nav .navbar-toggler i {
  color: white;
  font-size: 35px;
}
header nav .navbar-toggler:focus {
  box-shadow: none;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul .visible-lg- {
  display: none;
}
header nav ul li {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  border: black 1px solid;
  border-radius: 10px;
}

/* ==== TABLET ==== */
/* ==== DESKTOP ==== */
@media (min-width: 1024px) {
  /* Estilos del encabezado */
  header {
    background-color: royalblue;
    padding: 1rem;
    left: 0;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: x-large;
  }
  header h1 {
    font-size: xx-large;
    color: black;
    padding-top: 8px;
  }
  header nav {
    width: 100%;
  }
  header nav .collapse {
    display: flex;
    justify-content: flex-end;
  }
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  header nav ul .hidden-lg- {
    display: none;
  }
  header nav ul .visible-lg- {
    display: flex;
  }
  header nav ul li {
    gap: 10px;
  }
  header .nav-grupos {
    display: none;
  }
}
/* ==== MOBILE ==== */
.historia h2 {
  padding-top: 10px;
}

.primeros-mundiales {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.primeros-mundiales .foto-vieja {
  display: none;
}
.primeros-mundiales .texto-copa {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
}
.primeros-mundiales .texto-copa p {
  text-align: start;
  margin: 5px;
}
.primeros-mundiales .texto-copa .copa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.primeros-mundiales .texto-copa .copa img {
  width: 300px;
  align-self: end;
  margin: 5px;
  border-radius: 50%;
}
.primeros-mundiales .texto-copa .copa p {
  text-align: end;
  text-decoration: underline;
}

.palmares {
  display: flex;
  flex-direction: column;
}
.palmares img {
  width: 200px;
}
.palmares h3 {
  display: none;
}
.palmares .imagen-uno {
  display: flex;
  margin: 10px 5px 20px 5px;
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 5px;
}
.palmares .imagen-uno img {
  align-self: center;
  margin: 5px 0px 5px 5px;
  height: 130px;
}
.palmares .imagen-uno p {
  text-align: center;
  margin-bottom: 0px;
}
.palmares .imagen-dos {
  display: flex;
  margin: 0px 5px 20px 5px;
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 5px;
}
.palmares .imagen-dos img {
  align-self: center;
  margin: 5px 5px 5px 0px;
  height: 130px;
}
.palmares .imagen-dos p {
  text-align: center;
  margin-bottom: 0px;
}
.palmares .imagen-tres {
  display: flex;
  margin: 0px 5px 20px 5px;
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 5px;
}
.palmares .imagen-tres img {
  align-self: center;
  margin: 5px 0px 5px 5px;
  height: 130px;
}
.palmares .imagen-tres p {
  text-align: center;
  margin-bottom: 0px;
}
.palmares .tabla {
  display: none;
}

/* ==== TABLET ==== */
@media (min-width: 768px) {
  .palmares .tabla {
    text-align: center;
    padding: 0px 10px 0px 10px;
  }
  .palmares .tabla tr {
    background-color: white;
  }
  .palmares .tabla tr th {
    border: black solid 1px;
  }
  .palmares .tabla tr td {
    border: black solid 1px;
  }
}
/* ==== DESKTOP ====*/
/* ==== MOBILE ==== */
.logo-mundial {
  padding: 20px 0px 10px 0px;
}

.noticias-index h2 {
  text-align: center;
  padding: 0px 0px 10px 0px;
  text-decoration: underline;
}

.tres-noticias-index {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(65, 105, 225, 0.726);
  padding: 10px;
  border-radius: 10px;
}
.tres-noticias-index img {
  width: 100%;
}

.clasificacion h2 {
  padding: 5px 0px 5px 0px;
  text-align: center;
  text-decoration: underline;
}
.clasificacion p {
  text-align: center;
}

.lista-clasificacion {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
}
.lista-clasificacion li {
  padding: 5px 3px 0px 5px;
}

.formato h2 {
  text-align: center;
  padding: 5px 0px 5px 0px;
  text-decoration: underline;
}
.formato p {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
  padding: 10px;
}

.eleccion-sede h2 {
  text-align: center;
  padding: 5px 0px 5px 0px;
  text-decoration: underline;
}
.eleccion-sede p {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
  padding: 10px;
}
.eleccion-sede .mapa-argentina {
  width: 100%;
}

/* ==== TABLET ==== */
@media (min-width: 768px) {
  .tres-noticias-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .tres-noticias-index div {
    padding: 10px;
  }
  .tres-noticias-index h3 {
    margin-top: 0;
  }
  .tres-noticias-index img {
    height: 150px;
  }
}
.clasificacion h2,
.formato h2,
.eleccion-sede h2 {
  margin-top: 0;
}

.lista-clasificacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lista-clasificacion ul li {
  margin-bottom: 5px;
}
.lista-clasificacion img {
  max-width: 100%;
  height: auto;
}

.elecion-sede iframe {
  width: 100%;
  height: 400px;
  border: none;
}

/* ==== DESKTOP ==== */
@media (min-width: 1024px) {
  .main {
    padding: 20px;
    padding-top: 120px;
  }
  .logo-mundial {
    display: flex;
    justify-content: center;
  }
  .logo-mundial img {
    max-width: 100%;
    height: auto;
  }
  .noticias-index {
    margin-bottom: 20px;
  }
  .noticias-index h2 {
    margin-top: 0;
  }
  .tres-noticias-index img {
    height: 250px;
  }
  .tres-noticias-index .titulo-tres-noticias {
    padding-bottom: 22px;
  }
  .tres-noticias-index hr {
    display: none;
  }
  .lista-clasificacion {
    display: flex;
    padding-left: 20px;
  }
  .lista-clasificacion li {
    padding-top: 20px;
  }
  .lista-clasificacion img {
    max-width: 500px;
    max-height: 500px;
    padding: 10px 0px 10px 10px;
  }
  .formato p {
    padding: 10px;
  }
}
/* ==== MOBILE ==== */
.noticias {
  padding: 15px 0px 15px 0px;
  text-align: center;
}
.noticias .capitannigeria {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
}
.noticias .capitannigeria img {
  padding: 10px 5px 0px 5px;
  border-radius: 10%;
}

.noticias-destacadas {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
  padding-top: 20px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: large;
}

/* ==== TABLET ==== */
@media (min-width: 768px) {
  .article-seis img {
    width: 100%;
  }
}
/* ==== DESKTOP ==== */
@media (min-width: 1024px) {
  .noticias {
    padding-top: 120px;
  }
  .noticias .capitannigeria {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px;
    padding-bottom: 50px;
  }
  .noticias .capitannigeria img {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-left: 55px;
    width: 1200px;
    border-radius: 5%;
  }
  .noticias .capitannigeria p {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    width: 500px;
    padding: 200px 0px 0px 100px;
    color: white;
    font-size: larger;
  }
  .noticias .titulo-capitan-nigeria {
    font-size: xx-large;
  }
  .noticias-destacadas {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    grid-template-rows: repeat(2, 1fr);
  }
  .noticias-destacadas img {
    width: 440px;
    height: 300px;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    border-radius: 9%;
  }
  .noticias-destacadas hr {
    display: none;
  }
  .titulo-noticias-destacadas {
    font-size: x-large;
  }
}
/* ==== TABLET ==== */
/* ==== DESKTOP ====*/
/* ==== MOBILE ==== */
.sedes h2 {
  padding-top: 10px;
}
.sedes h3 {
  padding: 0px 0px 5px 0px;
}
.sedes hr {
  padding-bottom: 0px;
}
.sedes p {
  background-color: rgba(65, 105, 225, 0.726);
  border-radius: 10px;
}

.ubicacion-estadios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 194px 194px;
}
.ubicacion-estadios iframe {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
}
.ubicacion-estadios img {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 168px;
  height: 106px;
  align-self: center;
  justify-self: center;
}

/* ==== TABLET ==== */
/* ==== DESKTOP ====*/

/*# sourceMappingURL=styles.css.map */
