/* ==== MOBILE ==== */
.container-relative {
    background-color: rgba(65, 105, 225, 0.726);
    border-radius: 10px;

    .capitannigeria-mobile {
        border-radius: 10px;
        padding: 15px 15px;
        text-align: center;

        img {

            border-radius: 10%;
            border: white 1px solid;
        }

    }

    .texto-imagen {
        text-align: center;
    }

    .capitan-nigeria {
        display: none;
    }
}


.noticias-destacadas {
    background-color: rgba(65, 105, 225, 0.726);
    border-radius: 10px;
    padding-top: 20px;

    h2 {
        text-align: center;
        text-decoration: underline;
    }

    h3 {
        text-align: center;
        font-size: large;
    }

    img {
        border: black 1px solid;
    }
}

/* ==== TABLET ==== */

@media(min-width: 768px) {
    .article {
        img {
            width: 100%;
        }
    }
}

/* ==== DESKTOP ==== */

@media(min-width: 992px) {
    main {
        margin: 0px 40px 0px 40px;
    }

    .container-relative {


        .capitannigeria-mobile {
            display: none;
        }

        .capitan-nigeria {
            display: flex;
            border-radius: 10%;
            padding: 15px 15px;
            width: 100%;
        }

        .texto-imagen {
            display: none;
        }
    }

    .noticias-destacadas {
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-around;

        img {
            max-width: 440px;
            width: 100%;
            height: 200px;
            overflow: hidden;
            border-radius: 9%;
        }

        hr {
            display: none;
        }
    }

    .titulo-noticias-destacadas {
        font-size: x-large;
        text-align: center;
    }
}