/* ==== MOBILE ==== */
.sedes{
    h2{
        padding-top: 10px;
    }
    h3{
        padding: 0px 0px 5px 0px;
        
    }
    hr{
        padding-bottom: 0px;
    }
    p{
        background-color: rgba(65, 105, 225, 0.726);
        border-radius: 10px;
    }
}
.ubicacion-estadios{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 194px 194px;
    
    iframe{
            grid-column: 1/3;
            grid-row: 1/3;
            height: 100%;
            width: 100%;
            
        }
    img{
        position: relative;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 168px;
        height: 106px;
        align-self: center;
        justify-self: center;
    }
}

/* ==== TABLET ==== */

@media(min-width: 768px){
    .sedes{
        h3{
            text-align: start;
            padding-left: 10px;
        }
    }
}

/* ==== DESKTOP ====*/

@media(min-width: 992px){
    .sedes{
        display: flex;
        flex-direction: column;
        margin: 0px 20px 0px 20px;

        .ubicacion-estadios{
            display: flex;
            flex-direction: row;
            gap: 40px;
            height: 400px;
            
            
            iframe{
                max-width: 40%;
            }
            img{
                max-width: 58%;
                width: 100%;
                height: 100%;
            }
        }
        
    }
}